.form {
    width: 350px;
    margin: 0 auto;
    margin-top: 5vh;
    font-family: Manrope, serif;
}

.welcome-text {
    margin-top:6vh;
    font-family: Manrope, serif;
}

.settings-icon {
    fill: #dadada;
}

.menu-bar {
  text-align: right;
  width: 90%;
}

.animated-button-left, .animated-button-right {
    margin-top: 60px;
}

.animated-button-right {
  margin-left: 10px;
}