.form {
    width: 350px;
    margin: 0 auto;
    margin-top: 5vh;
    font-family: Manrope, serif;
}

.welcome-text {
    margin-top:6vh;
    font-family: Manrope, serif;
}

.settings-icon {
    fill: #dadada;
}

.menu-bar {
  text-align: right;
  width: 90%;
}

.animated-button-left, .animated-button-right {
  margin-top: 60px;
}

.animated-button-right {
  margin-left: 10px;
}

.main {
  margin: 0 auto;
}

.progress-view {
  width: 70%;
  margin: 0 auto;
  margin-top: 40px;
}

.countdown-view {
  margin-top: 20px;
}

.status {
  font-family: Manrope, serif;
  width: 60%;
  min-width: 300px;
  margin: 0 auto;
  margin-top: 20px;
}

.avatar {
  fill: #dadada
}