.countdown-view {
  font-family: Manrope, serif;
  color: #EDEDED;
  font-size: 1.2em;
}

.countdown-view ul li {
  display: inline;
  padding: 0 3px;
}

.days-component {
  font-size: 2em;
  cursor: pointer;
  padding-bottom: 3px;
  border-bottom: 2px dotted #EDEDED;
  margin-left: 5px;
}

.hours-component {
  font-size: 1.5em;
  margin-left: 5px;
}

.minutes-component {
  font-size: 1.0em;
  margin-left: 5px;
}

.seconds-component {
  font-size: 0.6em;
  margin-left: 5px;
}

.days-tooltip-component {
  font-size: 0.9em!important;
}
