.countdown-view {
  font-family: Manrope, serif;
  color: #EDEDED;
  font-size: 1.2em;
}
.days-component {
  font-size: 2em;
}

.hours-component {
  font-size: 1.5em;
}
.minutes-component {
  font-size: 1.0em;
}
.seconds-component {
  font-size: 0.6em;
}
