body {
    background-color: #005F40;
    font-family: 'OpenSans-Light';
    color: #dadada;
}

.layout-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
}

#header {
    padding-top: 1.5em;
}

#content {
    margin-top: 2em;
}