@font-face {
    font-family: 'Manrope';
    src: local('Manrope'), url(./fonts/Manrope.ttf) format('truetype');
}
@font-face {
    font-family: 'OpenSans-Light';
    src: local('OpenSans-Light'), url(./fonts/OpenSans-Light.ttf) format('truetype');
}
@font-face {
    font-family: 'Roboto-Thin';
    src: local('Roboto-Thin'), url(./fonts/Roboto-Thin.ttf) format('truetype');
}